html {
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 1.5rem;
    box-sizing: border-box;
}

.background-overlay {
    top: -8px;
    height: calc(100% + 16px);
    width: calc(100% + 13px);
    position: fixed;
    z-index: -1;
    background-image: url(elefantas.webp);
    background-position: center;
    background-size: cover;
    filter: blur(10px) brightness(0.8) grayscale(0.3);
    left: -8px;
    overflow: hidden;
}

.content {
    background: rgb(255 255 255 / 85%);
    /*padding: 1.5rem;*/
    border-radius: 3px;
    max-width: 60rem;
    overflow: hidden;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: 400;
    /*border-style: none none double;*/
    /*border-color: darkgray;*/
    /*border-width: 3px;*/
    text-align: center;
    /*font-size : 18 px;*/
    padding: 0.2rem 0;
    color: #263238;
    margin: 1.2rem 0 0.8rem;
    font-size: 1.3rem;
}

a:visited {
    color: #AB47BC;
}
a {
    color: #5C6BC0;
}

.header {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem 0;
}

.logo {
    width: 3rem;
    margin-right: 10px;
    border-radius: 10%;
    overflow: hidden;
}

.team-identity {
    flex: auto;
}

.team-name {
    /*font-size : 23px;*/
    font-weight: 300;
    font-size: 1.5rem;
}

/*.team-identity .team-name {*/
/*    font-family: "Rubik", serif;*/
/*    font-weight: 300;*/
/*}*/

.team-subname {
    /*font-size : 17px;*/
    opacity: 0.6;
    font-size: 1.1rem;
}

.social-link {
    text-decoration: none;
    margin-left: 0.5rem;
    display: inline-block;
}

.social-icon {
    width: 2.7rem;
}

.image-banner-wrap {
    margin: 1.1rem 0 1rem;
}

.image-banner {
    max-width: 100%;
}

.description {
    display: flex;
    margin-bottom: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    padding: 0 1.5rem;
}

.description p:first-of-type {
    margin-top: 0;
}

.description p:last-of-type {
    margin-bottom: 0;
}

.description-text {
    margin-right: 2rem;
    text-align: justify;
    color: #333;
}

.description-info {
    font-size: 1.05rem;
    min-width: 12rem;
}

.no-pos {
    color: #616161;
}

.description-label {
    opacity: 0.7;
}

.art-workers {
    color: black;
    line-height: 1.4;
    text-align: left;
}

.gallery {
    display: grid;
    align-items: center;
    background: black;
    grid-template-columns: repeat(3, 1fr);
}

.gallery a {
    align-self: center;
}

.gallery img, .gallery video {
    display: block;
    width: 100%;
    height: auto;
}

.promo-video {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    position: relative;
}

.play-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(play-64.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
}

.poster {
    grid-row: 1 / 3;
}

.reservations {
    max-width: 30rem;
    margin: auto;
    padding: 0 1.5rem 1.5rem;
}

.reservation-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reservation-field:not(:last-child) {
    margin-bottom: 1rem;
}

.reservation-field-full {
    width: 100%
}

.reservation-field-full label {
    text-align: center;
    margin-bottom: 0.4em;
}

.reservation-field label {
    display: block;
    opacity: 0.7;
}

.reservation-field input {
    border-style: none none solid none;
    border-width: 1px;
    border-color:dimgray;
    background: none;
    padding: 3px 1px;
    width: 13rem;
    /*font-size : 15px;*/
    font-size: 1rem;
}

.invalid.reservation-field input {
    border-color: darkred;
    color: darkred;
    border-bottom-style: solid;
}

.invalid.reservation-field label {
    color: darkred;
}

.reservation-field input:focus {
    border-width: 2px;
}

.reservation-dates-values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reservation-date {
    width: 30%;
    border: 1px solid #adbec7;
    border-radius: 3px;
    text-align: center;
    padding: 4px 0;
    background: #d5dbe0;
    margin-bottom: 3.33%;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55px;
}

.reservation-date-day {
    /*font-size : 15px;*/
    margin-bottom: 2px;
    opacity: 0.75;
    font-size: 0.9rem;
}

.selected .reservation-date-day {
    opacity: 1;
}

.reservation-date-sold-out {
    /*font-size : 14 px;*/
    color: darkred;
    font-size: 0.9rem;
}

.selected {
    background: #3F51B5;
    color: white;
    font-weight: bold;
    border-color: #3F51B5;
}

.reservation-date.soldOut {
    opacity: 0.7;
    background: lightgray;
    border: 1px dashed #bec7cc;
}

/*.selected {
    background: #607D8B;
    color: white;
    font-weight: bold;
    border-width: 2px;
    border-color: #455A64;
}*/


.reservation-fields:not(.success) .reservation-date:hover:not(.selected):not(.soldOut) {
    background: #C5CAE9;
}

.reservation-persons {
    width: 13rem;
}

.reservation-persons-input {
    display: flex;
    border-bottom: 1px solid dimgray;
    padding: 0.15rem 0 0.15rem;
    font-family: monospace;
}

.reservation-persons-value {
    flex: auto;
    text-align: center;
    /*font-size : 15px;*/
    font-size: 1rem;
}

.reservation-persons-control {
    background: lightgray;
    width: 1.25rem;
    border-radius: 3px;
    font-weight: bold;
    /*font-size : 15px;*/
    border: none;
    text-align: center;
    font-size: 1rem;
}

.reservation-comments {
    text-align: center;
}

.reservation-comments textarea {
    /*border: 2px dotted dimgray;*/
    /*border: 2px dashed rgb(105 105 105 / 50%);*/
    border: 1px solid rgb(105 105 105 / 50%);
    /*border-radius: 10px;*/
    width: 20rem;
    max-width: 100%;
    height: 3rem;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    text-align: center;
    font-family: inherit;
    font-size: 0.9rem;
}

.reservation-actions {
    text-align: center;
    margin-top: 1rem;
}

.submit {
    border-radius: 3px;
    background: #333;
    border: none;
    color: #f7f7f7;
    transition: all .5s;
    padding: 0.5em 1em;
    text-transform: uppercase;
    /*font-size : 15px;*/
    font-size: 1.1rem;
}

.submit:hover {
    background: #78909C;
}

.submit:disabled {
    background: grey;
}

.reservation-error {
    text-align: center;
    color: darkred;
    margin: 1rem 0;
}

.loading {
    opacity: 0.5;
}

.reservation-success-message {
    text-align: center;
    margin-top: 1rem;
    color: darkgreen;
    font-weight: bold;
    margin-bottom: 1rem;
}

.sold-out-message {
    margin-bottom: 1rem;
    text-align: center;
    opacity: 0.7;
    transition: opacity 0.4s linear;
}

.reservation-validation {
    margin-top: 0.7rem;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    transition: opacity 0.4s linear;
}

.valid .reservation-validation {
    opacity: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

tbody th {
    opacity: 0.7;
    font-weight: normal;
    width: 45%;
    text-align: right;
}

tbody th::after {
    content: ":";
}

th, td {
    padding: 3px 5px;
    white-space: pre;
}

td strong {
    color: #495353;
}

.reservation-success-email-notice {
    text-align: center;
    margin: 1rem;
    color: #333;
    text-decoration: underline;
}

.mobile-view {
    display: none;
}

@media screen and (max-width: 40rem) {
    .description {
        flex-direction: column;
    }

    .description-text {
        margin-right: 0;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 35rem) {
    body {
        display: block;
        padding: 0;
    }

    .header {
        padding: 1rem 1rem 0;
    }

    .description {
        padding: 0 1rem;
    }

    .reservation {
        padding: 0 1rem 1rem;
    }

    .description-info {
        min-width: unset;
    }

    .reservation-field input {
        width: 9.4rem;
    }

    .reservation-persons {
        width: 9.4rem;
    }

    .full-view {
        display: none;
    }

    .mobile-view {
        display: initial;
    }
}
